---
const { post } = Astro.props;
---

<div
    class="bg-gray-100 dark:bg-slate-800 flex flex-col border border-gray-200 dark:border-slate-700 rounded-lg hover:shadow-lg dark:hover:shadow-gray-700/50 hover:-translate-y-2 cursor-pointer transition-all"
>
    <div
        class="h-48 w-full bg-cover rounded-t-lg"
        style=`background-image: url(${post.frontmatter.thumbnail});`
    >
    </div>
    <div class="p-4">
        <h3 class="text-2xl font-bold text-gray-600 dark:text-gray-200">
            {post.frontmatter.title}
        </h3>
        <div id="meta" class="flex gap-2 my-2">
            <span class="text-sm text-gray-700 dark:text-gray-300">
                20 lecciones
            </span>
            <span
                class="rounded-lg px-2 text-sm bg-primary capitalize text-gray-50"
            >
                Intermedio
            </span>
        </div>
        <div class="flex gap-2 items-center my-2">
            {
                post.frontmatter.stack.map((logo: string) => (
                    <span class="cursor-pointer">
                        <img
                            src={`/images/logos/${logo}.svg`}
                            alt=""
                            height="24"
                            width="24"
                            title={logo}
                        />
                    </span>
                ))
            }
        </div>
        <p>
            {post.frontmatter.desc}
        </p>
    </div>
</div>
